<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Практическая А2</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<nav>
		<div class="header">
			<div class="site-menu">
				<a href="">home</a>
				<a href="">portfolio</a>
				<a href="">about-us</a>
				<a href="">contact</a>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="main-pisya">
			<h1>OUR STRONG <BR> ORGANISATION </h1>
			<p class="semi-pisya"> Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod tempor
				incididunt ut labore et, ctetur adig ipis cing elit, sed do eiusmod tempor incididunt </p>
			<a class="contact-link" href="">CONTACT US</a>
		</div>
		<a href=""> <img class="main-image" src="памятки/pamyatka.jpg" alt="Скрин" width="500" height="300"> </a>
		<div class="vtoraya-str">
			<div class="do-you-know">
				<h1>DO YOU NOW WE CAN <BR> PROVIDE FOR YOU </h1>
				<p class="do-you-know-text"> Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod
					tempor incididunt ut labore et. Lorem ni ipsum dolor sit amet, consectetur adipis elit, ed doi
					eiusmod tempor incididunt ut labore et.
				<p>
					<a class="contact-link-2" href="">Learn More</a>
			</div>
			<div class="container">
				<div class="serv">
					<img class="logo" src="img/adafruit.svg" alt="Логотип сайта" width="30" height="30">
					<h1 class="zagolovki">Management</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod tempor incididunt ut
						labore et. Lorem ni ipsum dolor sit ame.
					</p>
				</div>
				<div class="serv">
					<img class="logo" src="img/adafruit.svg" alt="Логотип сайта" width="30" height="30">
					<h1 class="zagolovki"> UI/UX Design</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod tempor incididunt ut
						labore et. Lorem ni ipsum dolor sit ame.</p>
				</div>
				<div class="serv">
					<img class="logo" src="img/adafruit.svg" alt="Логотип сайта" width="30" height="30">
					<h1 class="zagolovki">Logo/Branding</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod tempor incididunt ut
						labore et. Lorem ni ipsum dolor sit ame.</p>
				</div>
				<div class="serv">
					<img class="logo" src="img/adafruit.svg" alt="Логотип сайта" width="30" height="30">
					<h1 class="zagolovki">Animation</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipis cong elit, sed do eiusmod tempor incididunt ut
						labore et. Lorem ni ipsum dolor sit ame.</p>

				</div>
			</div>
		</div>
		<div class="feature-products">
			<div class="text-feature">
				<h1>FEATURE PRODUCTS</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod <br> tempor incididunt ut
					labore et</p>
			</div>
			<hr class="otdelenie">
			<div class="feature-menu">
				<ul class="feature-site-menu">
					<li><a href="">ALL</a></li>
					<li><a href="">PRINT TEMPLATE</a></li>
					<li><a href="">WEB TEMPLATE</a></li>
					<li><a href="">USER INTERFACE</a></li>
					<li><a href="">MOCK-UP</a></li>
				</ul>
			</div>
			<div class="gallery">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
				<img src="img/1233.png" class="sad" alt="">
			</div>
		</div>
		<div class="meet">
			<div class="meet-our-team">
				<h1>MEET OUR TEAM</h1>
				<p class="team-text"> Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod
					tempor incididut labore Ui / Ux , print template</p>
				<hr class="otdelenie-dva">
			</div>
			<div class="family">
				<img src="img/man.svg" class="man" alt="">
				<div class="pop">
					<div class="info-family">
						<h1>MARK WAUGH</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut
							labore Ui / Ux , print template.</p>
						<div class="kartinki">
							<a class="family-link" href="">Facebook</a>
							<a class="family-link" href="">Dribble</a>
							<a class="family-link" href="">Behance</a>
							<a class="family-link" href="">Twitter</a>
						</div>
					</div>
					<div class="man-girl">
						<img src="img/girl.svg" class="girl" alt="">
						<img src="img/girl.svg" class="girl" alt="">
						<img src="img/girl.svg" class="girl" alt="">
						<img src="img/girl.svg" class="girl" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="Subscribe">
			<div class="sub-text">
				<h1 class="sub-text-h">
					Design tips, tricks, and freebies. Delivered weekly.
				</h1>
				<p class="sub-text-p">
					Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.
				</p>
			</div>
			<div class="sub-form">
				<form action="" method="GET">
					<input class="vstavka" type="email" name="q" id="q" placeholder="Email adress..">
					<button class="knopka" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	
		<div class="contact-with-us">
		<div class="text-with-us">
			<h1 class="svyaz">
				Связаться
			</h1>
			<p class="svyaz-1"> 
				Lorem ipsum dolor sit amet, conctetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
				</p>
		 </div>
	      <hr class="otdelenie-tri">
		  <div class="ohuenchik">
		  <div class="contact-form">
		  <form class="name"  action="" method="GET">
			<input class="name"  type="text" name="q" id="q" placeholder="Name">
		</form>
		<form class="mail"  action="" method="GET">
			<input class="mail" type="text" name="d" id="d" placeholder="Your letter">
		</form>
		<form class="mes"   action="" method="GET">
			<input class="mes"  type="text" name="s" id="s" placeholder="Write your message">
			<button class="super-knopka" type="submit">Send</button>
		</form>
	    </div>
	    <div class="contact-info">
			<h1 class="con-inf">
				Contact info
			</h1>
			<p class="p-inf">Jalalabad 24 / A, Ambaarkhana, Силхет, Бангладеш</p>
			<p class="p-inf">redwan@deviserweb.com</p>
			<p class="p-inf">(+88) 017 617 46373</p>
		</div>
		</div>
	    </div> 
	</div>
	<footer  class = " footer " >
		<div  class = " footer__content " >
			<p> &copy; Авторские права @Junaed 2016, Все права защищены. </p>
			<div  class = " footer__social-links " >
				<a class = "footer__link" HREF ="" > 
					<img class  = " footer__link "  src = "img/1233.png" alt = " Лого " >
				</а >
				<a class  = " footer__link " HREF ="" > 
					<img class  = " footer__link "  src = "img/1233.png" alt = " Лого ">
				</а>
				<a class  = " footer__link " HREF ="" > 
					<img class  = " footer__link "  src = "img/1233.png" alt = " Лого ">
				<a>
				<a class  = " footer__link " HREF ="" > 
					<img class  = " footer__link "  src = "img/1233.png" alt = " Лого " >
				</а>
			</div>
		</div>
</body>

</html>